body {
  background-color: ivory;
  font-family: "open sans", sans-serif;
  font-size: 18px;
  width: 1200px;
  margin: 20px auto;
}

.header {
  margin-left: 40px;
}

.colors,
.fonts,
.text-styles {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 5px;
  max-width: 1200px;
}

.color,
.fonts-list {
  display: inline-block;
}

.color p {
  text-align: center;
  margin: 15px 5px;
  width: 200px;
  height: 40px;
  font-weight: 500;
}

#blue {
  background-color: #2d5dcc;
  color: azure;
}

#pink {
  background-color: #d957d9;
}

#green {
  background-color: #4fe0b0;
}
#beige {
  background-color: #efd9ca;
}

#black {
  background-color: #000000;
  color: azure;
}

#red {
  background-color: #ff0000;
  box-sizing: content-box;
}

.fonts .fonts-list {
  margin-right: 30px;
  margin-left: 10px;
}

.fonts h2,
.colors h2,
.text-styles h2 {
  margin-left: 10px;
}

.text-styles .text-list {
  padding: 30px;
  margin: 0px 30px;
}

.text-styles h2 {
  margin-left: 10px;
}

.texts-list h1,
.texts-list h2,
.texts-list h4,
.texts-list li {
  margin-left: 10px;
  padding: 3px;
}

.source-code {
  font-family: "Source Code Pro", sans-serif;
  text-decoration: underline;
}

.nunito {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: underline;
}
.poppins {
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}

.scp {
  font-family: "Source Code Pro", sans-serif;
}

.ns {
  font-family: "nunito sans", sans-serif;
}

.pop {
  font-family: "poppins", sans-serif;
}
